## password begin ##
AuthUserFile /usr/www/users/dander/donaldmerand/post_file/.passwd
AuthName     "Protected"
AuthType     Basic
<Limit GET POST PUT>
require valid-user
</Limit>
<Files .passwd>
deny from all
</Files>
## password end ##
